html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: grey;
}


form {
  margin: auto;
  text-align: center;
}

.form-floating {
  margin: 10px auto;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
}

.form-signin .mb-4 {
  border-radius: 100%;
  border: 6px solid blue;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}