* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: paleturquoise;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.page-header1 {
  font-size: 6rem;
  padding: 20px 50px;
  background-color: rgb(45, 103, 173);
  color: black;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 150px 40px;
}

.btn {
  min-width: 100px 40px;
}


#user-container {
  max-width: 500px;
}

#user-container .card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#admin-container .card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

thead {
  background-color: rgb(124, 133, 43);
  color: #fff;
}

.booked {
  padding: 30px;
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.836);
  margin-bottom: 40px;
}